body[theme="light"] {
    --accent: #1a73e8;
    --bg: #ffffff;
    --sub-bg: #EDEDED;
    --color: #202124;
    --sub-color: #3C4043;
    --b-color: #dadce0;
}


body[theme="dark"]{
    --accent: #1a73e8;
    --bg: #121212;
    --sub-bg: #1d1d1d;
    --color: #ffffff;
    --sub-color: #aaaaaa;
    --b-color: #383838;
}

html,body {
    margin: 0;
    background: var(--bg);
    color: var(--color);
}

button:focus, input:focus, textarea:focus {
    outline: none;
}

.btn-f {
    background: var(--accent);
    border: none;
    color: #fff;
    padding: 9px 23px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    transition: all 300ms 0s ease;
    cursor: pointer;
}

.btn-f:hover {
    background: #2B7DE9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.btn-s {
    background: var(--bg);
    border: 1px var(--b-color) solid;
    color: var(--accent);
    padding: 9px 23px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    transition: all 800ms 0s ease;
    cursor: pointer;
}

.btn-s:hover,.btn-t:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    background: var(--sub-bg);
}

.btn-s:active,.btn-t:active {
    background: var(--b-color);
}

.btn-t {
    background: var(--bg);
    border: none;
    color: var(--accent);
    padding: 9px 23px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    transition: all 800ms 0s ease;
    cursor: pointer;
}

.input-f {
    border: none;
    background: var(--sub-bg);
    padding: 15px 10px;
    border-radius: 4px 4px 0 0;
    border-bottom: 2px solid var(--b-color);
    transition: all 800ms 0s ease;
    color: var(--color);
}

.input-f:focus {
    background: var(--bg);
    border-bottom-color: var(--accent);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.input-s {
    border: 2px solid var(--b-color);
    background: var(--bg);
    padding: 15px 10px;
    border-radius: 4px;
    transition: all 400ms 0s ease;
    color: var(--color);
    font-size: 13.4px;
}

.input-s:focus {
    border-color: var(--accent);
}

.cb, .rb {
    display: none;
}

.cb+.cb-i, .rb+.rb-i {
    position: relative;
    vertical-align: -5px;
}

.cb-t {
    user-select: none;
    cursor: pointer;
}

.rb-t {
    vertical-align: 8px;
    user-select: none;
    cursor: pointer;
}

.cb+.cb-i:before {
    content: "check";
    font-family: "Material Icons";
    color: var(--bg);
    font-size: 22px;
    border: 2px solid var(--b-color);
    border-radius: 5px;
    transition: all 400ms 0s ease;
}

.rb+.rb-i:before {
    content: "radio_button_unchecked";
    font-family: "Material Icons";
    font-size: 30px;
    color: var(--b-color);
    transition: all 400ms 0s ease;
}

.rb:checked+.rb-i:before {
    content: "radio_button_checked";
    font-family: "Material Icons";
    color: var(--accent);
}

.cb:checked+.cb-i:before {
    background: var(--accent);
    color: #fff;
    border-color: var(--accent);
}

.ta-s {
    border: 2px solid var(--b-color);
    background: var(--bg);
    padding: 15px 10px;
    border-radius: 4px;
    transition: all 400ms 0s ease;
    color: var(--color);
    resize: none;
}

.ta-s:focus {
    border-color: var(--accent);
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}

.alert {
    color: #d93025;
}

.color {
    color: var(--color);
}

.sub-color {
    color: var(--sub-color);
}

.not-margin {
    margin: 0;
}

.float-left {
    float: left;
}

.float-right{
    float: right;
}

.ripple {
    position: relative;
    overflow: hidden;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.not-text-decoration {
    text-decoration: none;
}

.error-card {
    background: #B00020;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.error-card li {
    list-style: none;
}

.error-card ul {
    margin: 5px 0;
}

.error-card h2 {
    color: #fff;
    text-align: left;
    margin: 5px;
    line-height: 33px;
    font-size: 20px;
    vertical-align: bottom;
}

.error-card h2 i {
    height: 33px;
    font-size: 33px;
    vertical-align: bottom;
}

.d-bg {
    background-color: var(--bg);
}

.sub-bg {
    background-color: var(--sub-bg);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.502);
    display: none;
}

.modal[open="true"] {
    display: block;
}

.modal .modal-main {
    width: calc(95% - 20px);
    max-width: 860px;
    background-color: var(--bg);
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 5px;
}

.modal .modal-title{
    font-size: 16pt;
    color: var(--color);
    border-bottom: 1px solid var(--b-color);
    margin-bottom: 10px;
}

.toggle{
    width: 36px;
    height: 14px;
    background: #C4C5C9;
    border-radius: 15px;
    position: relative;
}
body[theme="dark"] .toggle{
    background: #242526;
}
.toggle-c{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -3px;
    background: var(--sub-color);
    transition: all 500ms 0s ease;
}

.toggle[active="false"] .toggle-c{
    position: absolute;
    left: 0;
    top: -3px;
    background: var(--sub-color);
}

.toggle[active="true"] .toggle-c{
    position: absolute;
    left: 16px;
    top: -3px;
    background: var(--accent);
}

.pointer{
    cursor: pointer;
}

.not-user-select{
    user-select: none;
}

.ripple .ripple-active {
    position: absolute;
    pointer-events: none;
    background: rgb(196, 196, 196);
    border-radius: 50%;
    transform: scale(0);
    animation: ripple .8s;
    opacity: .3;
}

@keyframes ripple {
    to {
        opacity: 0;
        transform: scale(2.0);
    }
}