:root {
    --accent: #1a73e8;
    --bg: #ffffff;
    --sub-bg: #F8F9FA;
    --color: #222222;
    --sub-color: #3C4043;
    --b-color: #dadce0;
}

button:focus, input:focus, textarea:focus {
    outline: none;
}

.btn-f {
    background: var(--accent);
    border: none;
    color: #fff;
    padding: 9px 23px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    transition: all 300ms 0s ease;
    cursor: pointer;
}

.btn-f:hover {
    background: #2B7DE9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.btn-s {
    background: var(--bg);
    border: 1px var(--b-color) solid;
    color: var(--accent);
    padding: 9px 23px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    transition: all 800ms 0s ease;
    cursor: pointer;
}

.btn-s:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.btn-t {
    background: var(--bg);
    border: none;
    color: var(--accent);
    padding: 9px 23px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    transition: all 800ms 0s ease;
    cursor: pointer;
}

.btn-t:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.input-f {
    border: none;
    background: var(--sub-bg);
    padding: 15px 10px;
    border-radius: 4px 4px 0 0;
    border-bottom: 2px solid var(--b-color);
    transition: all 800ms 0s ease;
    color: var(--color);
}

.input-f:focus {
    background: var(--bg);
    border-bottom-color: var(--accent);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.input-s {
    border: 2px solid var(--b-color);
    background: var(--bg);
    padding: 15px 10px;
    border-radius: 4px;
    transition: all 400ms 0s ease;
    color: var(--color);
}

.input-s:focus {
    border-color: var(--accent);
}

.cb,.rb {
    display: none;
}

.cb+.cb-i,.rb+.rb-i {
    position: relative;
    vertical-align: -5px;
}

.cb-t{
    vertical-align: 5px;
    user-select: none;
    cursor: pointer;
}

.rb-t{
    vertical-align: 8px;
    user-select: none;
    cursor: pointer;
}

.cb+.cb-i:before {
    content: "check";
    font-family: "Material Icons";
    color: var(--bg);
    font-size: 22px;
    border: 2px solid var(--b-color);
    border-radius: 5px;
    transition: all 400ms 0s ease;
}

.rb+.rb-i:before {
    content: "radio_button_unchecked";
    font-family: "Material Icons";
    font-size: 30px;
    color: var(--b-color);
    transition: all 400ms 0s ease;
}

.rb:checked+.rb-i:before {
    content: "radio_button_checked";
    font-family: "Material Icons";
    color: var(--accent);
}

.cb:checked+.cb-i:before {
    background: var(--accent);
    color: #fff;
    border-color: var(--accent);
}

.ta-s{
    border: 2px solid var(--b-color);
    background: var(--bg);
    padding: 15px 10px;
    border-radius: 4px;
    transition: all 400ms 0s ease;
    color: var(--color);
    resize: none;
}

.ta-s:focus {
    border-color: var(--accent);
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}

.alert{
    color: rgb(224, 36, 94);
}

.center{
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.ripple {
    position: relative;
    overflow: hidden;
}

.ripple .ripple-active {
    position: absolute;
    pointer-events: none;
    background: rgb(196, 196, 196);
    border-radius: 50%;
    transform: scale(0);
    animation: ripple .8s;
    opacity: .3;
}

@keyframes ripple {
    to {
        opacity: 0;
        transform: scale(2.0);
    }
}